<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>AYO</title>
    <meta name="description" content="Beschreibungstext" />
  </head>
  <header><h1>Index</h1></header>
  <body>
    <p>Wilkommen zu der Index Seite</p>
    <p><a href="http://127.0.0.1:5000/">Index</a></p>
    <p><a href="http://127.0.0.1:5000/incoming">Incoming</a></p>
    <p><a href="http://127.0.0.1:5000/outgoing">Outgoing</a></p>

    <img
      src="{{ url_for('static', filename='images/cat2.jpg') }}"
      class="image"
    />

    <!-- header -->
  </body>
</html>
